<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skp.opx.sns"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".ui.AccountSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AccountLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CommentsActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.ContentsDetailListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MainPreferenceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UploadPhoneBookActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.FriendRequestToCyworldActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.FriendRequestToGoogleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.FriendRequestToNateOnActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MainHomeListActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.RecommendToFriendListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".sl.twitter.TwitterLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Twitter Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.android.twittercon.TWITTER_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sl.googleplus.GooglePlusLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".sl.facebook.FacebookLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>