<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string></string>
		<key>Id</key>
		<string></string>
		<key>Latitude</key>
		<string></string>
		<key>Longitude</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string></string>
		<key>Id</key>
		<string></string>
		<key>Latitude</key>
		<string></string>
		<key>Longitude</key>
		<string></string>
	</dict>
</array>
</plist>
